* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App {
  background-color: #111;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  font-size: 2rem;
}
