.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem;
  z-index: 2;
  height: 6rem;
  transition: all 0.5s ease-in;
}
.nav__logo {
  img {
    object-fit: contain;
    width: 8rem;
    position: fixed;
    left: 3rem;
  }
}

.nav--black {
  background-color: #111;
}
